/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 06-09-2014, 19:51:21
    Author     : Lisa
*/

/*
colors:
topbar = #F7EDBF;
game-bg = #2E221F;
chat-bg = #F1EED9;
button-green = #798616;
thumbnails = #F7EDBF;

*/

@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro:500,700,600);

#wrapper{
    margin:0px 10px;
}

#topBar{
    height:50px;
    background-color: #382313;
    padding: 7px 0;
    color: #fff;
    
}

#user{
    margin-right: 20px;
}

#game{
    background-color: #2E221F;
    padding-top: 25px;
    
}

/********* sidebar *****************/

#sidebar{    
    
}

/**************** buttons *****************/

#loadGame, #newGame{
    width: 180px;
}
.btn-info {
    background-color:#58351A; 
}

/***************** list-styles *************/

#playerlist li{
    display: inline-block;
    float:left;
}

.dl-horizontal dt{
    width: 100px;
    text-align: left;
}

.dl-horizontal dd{
    margin-left:0;
}

.thumbnail{
    padding: 10px;
    margin-right: 10px;
    border-radius: 25px;
    background-color: #Fefefe;
}



/**chat***************/
.highlight{
    font-weight: bold;
}

#chatWrapper{
    bottom: 0px; 
    position: relative;
    height: 300px;
    overflow-y: hidden;
    background-color: #Fefefe;
    border-radius: 25px;
    margin-bottom: 30px;
    
}


#chatEntries{
    position: absolute;
    bottom: 60px;
    
}

/*#chatEntries li:first-child { 
    position: absolute; 
    bottom: 0; 
}*/

#chatEntries li.help {
    font-weight: bold;
    
}

#chatControls { 
    position: absolute;
    bottom: -20px;
    z-index: 10;
    height: 70px; 
}

#chatInput:focus{
    border: 2px solid #F7EDBF;
}

/******** forms ***************/
#fields .dynamic{
    margin-bottom: 15px;
}

/////// CRUD ////////////////////

/******* lists ***************/

li{
    background-color: red !important;
}

.margin {
    margin-left: 10px;
}

.modal-form{
    padding: 5px 10px;
}

#fields .dynamic{
    margin-bottom: 15px;
}

li.description h5, li.exitDesc h6{
    display: inline-block;
    margin: 5px 0px;
    font-weight: bold;
}

li.exitDesc h6{
    font-size: 13px;    
}

li.exitDesc{
    margin-left:10px;
}

.subfield{
    font-size:90%;
}

#swap{
    display:none;
}

/****** Modal displaying character before playing ******/

#displayBody{
    min-height: 300px;
}

.statDesc{
    font-size: 90%;
    font-style: italic;
}

#avatar {
    position:relative;
    
}

#avatar img{
    max-width: 239px;
    max-height: 270px;
}

#avatar:after{
    -moz-box-shadow: inset 0 0 10em #fff;  
    -webkit-box-shadow: inset 0 0 10em #fff;   
    box-shadow: inset 0 0 10em #fff;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    content: "";
}

dt.dlHeading{
    width:100%;
}

/******** Modals ************/

/* range input for character adjustments */
