/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 06-09-2014, 19:51:21
    Author     : Lisa
*/

/*
colors:
topbar = #F7EDBF;
game-bg = #2E221F;
chat-bg = #F1EED9;
button-green = #798616;
thumbnails = #F7EDBF;

*/

@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro:500,700,600);

#wrapper{
    margin:0px auto;
}

#topBar{
/*    height:50px;
    background-color: #382313;
    padding: 7px 0;
    color: #fff;*/
    
}

#user{
    margin-right: 20px;
}

#game{
    padding-top: 25px;
    
}

/********* sidebar *****************/

#sidebar{    
    min-height: 350px;
    margin-bottom: 30px;
}

/**************** buttons *****************/

/*#loadGame, #newGame{
    width: 180px;
}*/
.btn-info {
    background-color:#58351A; 
}

/***************** list-styles *************/

.dl-horizontal dt{
    width: 100px;
    text-align: left;
}

.dl-horizontal dd{
    margin-left:0;
}

#profileBox{
    padding: 10px;
    margin-right: 10px;
    border-radius: 25px;
    background-color: #Fefefe;
}

/*** profile - playerstats *****/
#profile {
    width:100%;
    overflow:hidden;
}



#profile dt, #profileInventory dt {
    float:left;
    width:40%; /* adjust the width; make sure the total of both is 100% */
}
#profile dd, #profileInventory dd{
    float:left;
    width:60%; /* adjust the width; make sure the total of both is 100% */
}

#profileInventory .profileHeading {
    width:100%;
}
/** chat ***************/
.highlight{
    font-weight: bold;
}

#storyWrapper{
    bottom: 0px; 
/*    position: relative;*/
/*    max-height: 360px;
    overflow-y: hidden;*/
    background-color: #Fefefe;
    border-radius: 25px;
    margin-bottom: 30px;
    
}


#storyEntries{
/*    position: absolute;*/
    bottom: 10px;
    padding-right: 45px;
    
}

#storyEntries li.help {
    font-weight: bold;
    
}
/*choices*/
li.story {
    margin: 7px 0;
}
li.choice{    
    color: #0b97c4;
}

li.dices, li.info{    
    color: crimson;
    font-weight: bold;
}

.link{
    font-weight:bold;
    font-size: 115%;
    cursor:pointer;  
}




/******** FORMS ***************/

input.value{
    border-radius: 5px;
    line-height: 30px;
    max-width: 70px;
}

#fields .dynamic{
    margin-bottom: 15px;
}


/*spinner*/
.spinner {
  width: 75px;
}
.spinner input {
  text-align: right;
}
.input-group-btn-vertical {
  position: relative;
  white-space: nowrap;
  width: 1%;
  vertical-align: middle;
  display: table-cell;
}
.input-group-btn-vertical > .btn {
  display: block;
  float: none;
  width: 100%;
  max-width: 100%;
  padding: 8px;
  margin-left: -1px;
  position: relative;
  border-radius: 0;
}
.input-group-btn-vertical > .btn:first-child {
  border-top-right-radius: 4px;
}
.input-group-btn-vertical > .btn:last-child {
  margin-top: -2px;
  border-bottom-right-radius: 4px;
}
.input-group-btn-vertical i{
  position: absolute;
  top: 0;
  left: 4px;
}
/*spinner end*/

/*hide default-spinner in Chrome and Firefox*/
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/////// CRUD ////////////////////

/******* lists ***************/

li{
    background-color: red !important;
}

.margin {
    margin-left: 10px;
}

.modal-form{
    padding: 5px 10px;
}

#fields .dynamic{
    margin-bottom: 15px;
}

li.description h5, li.exitDesc h6{
    display: inline-block;
    margin: 5px 0px;
    font-weight: bold;
}

li.exitDesc h6{
    font-size: 13px;    
}

li.exitDesc{
    margin-left:10px;
}

.subfield{
    font-size:90%;
}

#swap{
    display:none;
}

/****** Modal displaying character before playing ******/

#displayBody{
    min-height: 365px;
}

.statDesc{
    font-size: 90%;
    font-style: italic;
}

#avatar {
    position:relative;
    
}

#avatar img{
    max-width: 239px;
    max-height: 270px;
}

#avatar:after{
    -moz-box-shadow: inset 0 0 10em #fff;  
    -webkit-box-shadow: inset 0 0 10em #fff;   
    box-shadow: inset 0 0 10em #fff;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    content: "";
}

dt.dlHeading{
    width:100%;
}

/*** gallery *******/
#gallery{
    margin-bottom: 25px;
}

#gallery div.brik{
    padding:5px;
}

#gallery img{
    width: 100%;
    height: 130px;
    overflow: hidden;
}

.fadeImg:after{
    -moz-box-shadow: inset 0 0 10em #fff;  
    -webkit-box-shadow: inset 0 0 10em #fff;   
    box-shadow: inset 0 0 8em #fff;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    content: "";
}

#gallery .thumbnail:hover{
    border: 1px solid #2E221F;
}

#gallery .thumbnail{
    padding: 10px 10px 0px;
    margin: 0px;
    border-radius: 15px;
    background-color: #Fefefe;
}

#gallery .thumbnail .caption {
    overflow: hidden;
    padding: 5px 0px;
    height: 50px;
    color: #333;
}

#gallery .thumbnail p.caption{
    margin:0px;
/*    font-size: 80%;*/
    font-family: serif;
    font-style: italic;
    font-weight: bold;

}

#heading{
    margin-bottom: 15px;
}

#heading h2{
    margin:0px;
}

/******** Modals ************/

/* range input for character adjustments */
