<% include ./partials/header.ejs %>
<!-- row containing character-gallery -->
    <% include ./partials/gallery.ejs %>
<div id="game" class="row">               
            <section id="sidebar" class="col-sm-4 col-md-3  
                            col-lg-3  col-sm-push-8 col-md-push-7 col-lg-push-7">
                <div class="profileBox col-xs-12 col-sm-12">
                    <dl id="profile"></dl>
                </div>
            </section>
            <section id="chatWrapper" class="col-sm-8 col-md-5 col-lg-5 
                col-md-offset-2 col-lg-offset-2 col-sm-pull-4 col-md-pull-3 col-lg-pull-3">
                <ul id="chatEntries" class="list-unstyled"><li><li></ul>                
            </section>
        </div>
<!-- start row for modals -->
        <div id="pseudoSet" class="row">            
            <% include ./partials/characterModal.ejs %>
            <% include ./partials/characterForm.ejs %>            
        </div> <!--row end -->
                
        
        

</div>
<script>  
    var characters = <%-JSON.stringify(characters)%>;
    var games = <%-JSON.stringify(games)%>;
    var user = <%-JSON.stringify(userId)%>;
</script>
<!--<script type="text/javascript" src="jquery-2.1.1.min.js"></script> -->
<script src="/socket.io/socket.io.js"></script>
<script src="/helpers.js"></script>
<script src="/socket.js"></script>
<script src="/general.js"></script>

</body>
</html>