    <!-- modal window for displaying a record -->
    <div class="modal fade" id="displayCharacter" tabindex="-1" role="dialog" aria-labelledby="displayRecord" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="displayTitle">Your playing character</h4>
                </div>
                <div id="displayBody" class="modal-body">
                    <div id="modalStats" class="col-sm-6">
                    <dl id="characterStats" class="dl-horizontal">
<!--
                        <dt>Name </dt><dd id="name">thurax</dd>
                        <dt><span class="glyphicon glyphicon-flag"></span> Guild: </dt><dd>dwarf</dd>
                        <dt><span class="glyphicon glyphicon-heart"></span> Stamina </dt>
                        <dd id="stamina">14<span id="maxStam">/20</span>
                            <span class="statDesc" id="staminaDesc"> moderate</span>
                        </dd>
                        <dt><span class="glyphicon glyphicon-fire"></span> Charisma </dt>
                        <dd id="charisma">14<span class="statDesc" id="charismaDesc"> likeable</span></dd>
                        <dt><span class="glyphicon glyphicon-flash"></span> Duelling </dt>
                        <dd id="duelling">14<span class="statDesc" id="duellingDesc"> agile</span></dd>
                        <dt><span class="glyphicon glyphicon-send"></span> Scouting </dt>
                        <dd id="scouting">3<span class="statDesc" id="scoutingDesc"> lost</span></dd>
                        <dt><span class="glyphicon glyphicon-glass"></span> Roguery </dt>
                        <dd id="roguery">14<span class="statDesc" id="rogueryDesc"> bad ass</span></dd>
                        <dt><span class="glyphicon glyphicon-flash"></span> Magic </dt>
                        <dd id="magic">14<span class="statDesc" id="magicDesc"> moderate</span></dd>
                        <dt><span class="glyphicon glyphicon-leaf"></span> Healing </dt>
                        <dd id="healing">3<span class="statDesc" id="healingDesc"> miserable</span></dd>
                        <dt><span class="glyphicon glyphicon-fire"></span> Luck </dt>
                        <dd id="luck">14<span class="statDesc" id="staminaDesc"> blessed</span></dd>
                        <dt><span class="glyphicon glyphicon-flash"></span> Coins </dt>
                        <dd id="coins">14</dd>
-->
                        
                    </dl>
                    <dl id="inventory" class="dl-horizontal">
                        <dt class="dlHeading">Inventory</dt>
                    </dl>
                    </div><!-- col-md-6-end -->
                    <div id="avatar" class="col-sm-6">
                        <div id="avatarBox" class="col-xs-12"><img class="fadeImg" src=""></div>
                    </div>
            </div>
            <div class="modal-footer">
                <button id="playSaved" type="button" class="btn btn-default" data-dismiss="modal">Continue saved game</button>
                <button id="gameDel" type="button" class="btn btn-default" data-dismiss="modal">Delete</button>
                <button id="play" type="button" class="btn btn-default" data-dismiss="modal">Play game</button>                
                <button id="customize" type="button" class="btn btn-default" data-dismiss="modal">Customize</button>
                <button id="character" type="button" class="btn btn-default" >Get other character</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
      </div>
    </div>
    <!-- record-display end -->