<!-- partial view displaying modal for events-form -->
<div class="modal fade" id="createEvents" tabindex="-1" role="dialog" aria-labelledby="createEvents" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">
                    <span class="glyphicon glyphicon-plus"></span> create new event
                </h4>
            </div>
            <div class="modal-body">
                <div id="alertEvent" class="alert alert-danger"></div>
                <!-- because form is very long, include it as partial from separate file-->
                <% include ./eventForm.ejs %>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button id="btnCreateEvent" type="button" class="btn btn-info" >Create event</button>
            </div>
        </div>
      </div>
    </div>