<!-- partial view displaying modal for item-form -->
<div class="modal fade" id="gradeUsers" tabindex="-1" role="dialog" aria-labelledby="upgradeUsers" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">
                    <span class="glyphicon glyphicon-plus"></span> upgrade user to administrator
                </h4>
            </div>
            <div class="modal-body">
                <div id="alertUser" class="alert alert-danger"></div>
                <form id="gradeUser" class="modal-form form-horizontal" role="form" action="/crud" method="post">
                    <div class="form-group">
                        <p id="adminSure"></p>
                        <label>Password:</label>
                        <input type="password" class="form-control" name="password">
                    </div>                               
                    <input type="hidden" name="form" value="upgradeUser">
                    <input id="userId" type="hidden" name="id" value="">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button id="btnGradeUser" type="button" class="btn btn-info" >Upgrade user</button>
            </div>
        </div>
      </div>
    </div>