<!-- partial view displaying modal for weapon-form -->
<div class="modal fade" id="createWeapons" tabindex="-1" role="dialog" aria-labelledby="createItems" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">
                    <span class="glyphicon glyphicon-plus"></span> create new item
                </h4>
            </div>
            <div class="modal-body">
                <div id="alertWeapon" class="alert alert-danger"></div>
                <form id="createWeapon" class="modal-form form-horizontal" role="form" action="/crud" method="post">
                    <div class="form-group">
                        <label>Name:</label>
                        <input type="text" class="form-control" name="name">
                    </div>                               
                    <input type="hidden" name="form" value="createWeapon">
                    <input id="weaponId" type="hidden" name="form" value="">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button id="btnCreateWeapon" type="button" class="btn btn-info" >Create weapon</button>
            </div>
        </div>
      </div>
    </div>